@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}
